<!---<cfoutput>--->

<!---request.appreloadkey: #request.appreloadkey#<br />
  request.appreloadValidated: #request.appreloadValidated#<br />
  
  <cfabort />--->
  
  <!---<cfhttp url="http://localhost:8500/angular/material/ngMat01/src/assets/cfm/rest/api/v1/index.cfm/comment/134" method="delete" result="result" timeout="30">
    <cfhttpparam type="header" name="Authorization" value="Bearer eyJjdHkiOiJKV1QiLCJlbmMiOiJBMjU2R0NNIiwiYWxnIjoiZGlyIn0..IJld3L1FUHp_ndHp.jD8WbuEDLCBLtzdn4eLmifJjsBTOsm1Tf_KGfimsQoCvkKwNynt2kQ09q1p54-l825IrphT0H7tt8m1jr1UG6GtBrEO3T6XLMqbdpl5NowI-M2bGRMn8BZenLlfK5wYqJIlXHDBN9KTT_RuQJS0VBnihpZQZl_Vl-6u1oB7hO7wjw-TsrRGfJeyqxKfxhXJzGeZ_A9B5uOT3qobYoudtVPg5ijAw9rQ4UTt2YqPOHSte-W94YvRBPnV2-Wh94wx_WyW5kPUv7-93Pgj8eFSkbpqAzH9Oxvcgx7w-xqrJWR9xRhVs-oQrMcl24XeYAmKvROF-HIapJ7FWCY3r3gmj8vyCJkErC6ypLvcceRaDu5R39xWTt7GRaZY5_IqR-Aey31ADZPep3766OMXtbcEjU1Z9xt04q91zPuDvzreqZ3XQWF745870V4m2QMHTJUJ7bH02dBPX0Kg3zvo8aYZ-XsMpywCmWJuRc0Kij3SFKgRuG8MKVCBN5zjI8gYU0cevyhsYtYTvjmsI8fQWc6eD-tc.71EZJXQgjk1Ey9_VpPSkAQ" />
    <cfhttpparam type="header" name="userToken" value="e972341c-b08e-44c3-9667-42834e32e119" />
  </cfhttp>--->
  
  <!---<cfhttp url="http://playground.application.me.uk/photo-gallery/assets/cfm/rest/api/v1/comment/51" method="post" result="result" timeout="30">
    <cfhttpparam type="header" name="Authorization" value="Bearer eyJjdHkiOiJKV1QiLCJlbmMiOiJBMjU2R0NNIiwiYWxnIjoiZGlyIn0..r-sREPR-JFh0GtIO.Dpm60GnPierm3HZ4kxMXLO1mqw719mrI1Jl0MGLTYE1YdH8bGL6oFkgo1CA1rbt9WCVeP6-HHJ7ZeD_VyQ-rjH31Hg2RAYwUK5Qg4oC5WMhE6ndS62NJBK99HbqOkVockdT3gv7jsVq8obWD3xfn9XNdecsIPXoEUKx9_qfsKpiNN3uHFuaJYq_3rwuJcuGS-piA9YUJbz3lywOVql8i1EkQzfaDDsB8fVl9zoerjis3pnhjxc2PCX2Uq1yLaDh4JKjEVsfWvgvhwTFA0u8Nig7a0ynqJ9fA9h5IWwo1TmWnkMphFpFVa-xyfT9iSAAsXtzIWGUhm3zfy7YS7Uq1vXkYzj6Vo-CeIwLVyjOlpcVN9Vf2-8Yf2cvXNtWCeEIobSO9j5ijBoxAtLS-buMuRzS__OFV088SYnXjsrFX4Z7anmYhc5_Ojl3oVy9Z7hl-4WuVD6EjVs0h90Rngoq9EHN4oIC1kwkVyz6st_LK9mWyhE04cl1GarMAF4p-aaJAEokMFJmnrlSWZ6qo2XpWRjkKMwxGFeNnonfIQi4HNQE6dF7wZxBRaCiye1jrCvhLGeKd-URmtQ.n38BhsrL8GgmNkT1-j60qw" />
    <cfhttpparam type="header" name="userToken" value="1cc4192a-e090-462f-86d4-c3ecdc5758d5" />
    <cfhttpparam type="header" name="X-HTTP-METHOD-OVERRIDE" value="DELETE" />
  </cfhttp>--->
  
  <!---<cfhttp url="http://localhost:8500/angular/material/ngMat01/src/assets/cfm/rest/api/v1/index.cfm/image/b01fd6e5-d776-bd93-d819a286238e6f50" method="post" result="result" timeout="30">
    <cfhttpparam type="header" name="Authorization" value="Bearer eyJjdHkiOiJKV1QiLCJlbmMiOiJBMjU2R0NNIiwiYWxnIjoiZGlyIn0..zAbNxDkFlZPvwyJR.nGe0bqEGqA8xrs3wg2hYByEMbNUSeuhGq7Q-_o0GefMKyv6Gz_y_f6dpQz9WY826v80_dAcHLxzw3Mkw6S9n_bWEM0H2oIQPm-jxgUBUdwl8vZ3SY5g447BOwpXoNHGLYrpsMZV4rmWRUiTk3KHJyXbHxHsk3o8IDjePUqGqNklgkl9MNEIK8IJmTlEZ-iZtO9eWjTpSWyDFJwzlbW2h5UV9oiu-yQ3qVnpFIw3jYWtwMBywFUcQ1LQiqXcTxNKA7OMGpcuislKxVaRDX3quk8fBAtXrM9gl7S9ZRl5MtMsJF84yG4rXBcUR5kRAczp-5Nkeavx5brQsnKvv_exIHQAlydRceqBNNyMXp-BDXJtgPGFjhCFLQ9zcRD50MTb6bZtUQOU0JZG_l4DEdS0yJyfRgzhnlqFN1T_7k8iXd0JKNbBE2bcokNQ3denUu6NEfjBWQoBAC-flXLlRIEbzbDdLULokTRh0KNhMN4JLgXQSSIaog4eEl_oG4mmGo0UyltTlMRTMXqr17_4KFG32fl8.rKV3LPCG3DLOyz000s0JpQ" />
    <cfhttpparam type="header" name="userToken" value="163a996d-a742-4dcd-aeda-ef1ee2e46d72" />
    <cfhttpparam type="header" name="imagePath" value="categories/objects/seascape" />
    <cfhttpparam type="header" name="name" value="Test name" />
    <cfhttpparam type="header" name="title" value="Test title" />
    <cfhttpparam type="header" name="description" value="Test descriptione" />
    <cfhttpparam type="header" name="tags" value='[{"display":"test tag 1","value":"test tag 1"},{"display":"test tag 2","value":"test tag 2"},{"display":"sea","value":"sea"},{"display":"seagull","value":"seagull"}]' />
    <cfhttpparam type="header" name="Content-Type" value="application/json" />
    <cfhttpparam type="header" name="X-HTTP-METHOD-OVERRIDE" value="PUT" />
    <cfhttpparam type="body" name="article" value='#ToBinary(ToBase64(SerializeJson({"article":"Test article"})))#' />
  </cfhttp>--->
  
  <!---<cfhttp url="http://localhost:8500/angular/material/ngMat01/src/assets/cfm/rest/api/v1/index.cfm/image/b01fd6e5-d776-bd93-d819a286238e6f50" method="post" result="result" timeout="30">
    <cfhttpparam type="header" name="Authorization" value="Bearer eyJjdHkiOiJKV1QiLCJlbmMiOiJBMjU2R0NNIiwiYWxnIjoiZGlyIn0..zAbNxDkFlZPvwyJR.nGe0bqEGqA8xrs3wg2hYByEMbNUSeuhGq7Q-_o0GefMKyv6Gz_y_f6dpQz9WY826v80_dAcHLxzw3Mkw6S9n_bWEM0H2oIQPm-jxgUBUdwl8vZ3SY5g447BOwpXoNHGLYrpsMZV4rmWRUiTk3KHJyXbHxHsk3o8IDjePUqGqNklgkl9MNEIK8IJmTlEZ-iZtO9eWjTpSWyDFJwzlbW2h5UV9oiu-yQ3qVnpFIw3jYWtwMBywFUcQ1LQiqXcTxNKA7OMGpcuislKxVaRDX3quk8fBAtXrM9gl7S9ZRl5MtMsJF84yG4rXBcUR5kRAczp-5Nkeavx5brQsnKvv_exIHQAlydRceqBNNyMXp-BDXJtgPGFjhCFLQ9zcRD50MTb6bZtUQOU0JZG_l4DEdS0yJyfRgzhnlqFN1T_7k8iXd0JKNbBE2bcokNQ3denUu6NEfjBWQoBAC-flXLlRIEbzbDdLULokTRh0KNhMN4JLgXQSSIaog4eEl_oG4mmGo0UyltTlMRTMXqr17_4KFG32fl8.rKV3LPCG3DLOyz000s0JpQ" />
    <cfhttpparam type="header" name="userToken" value="163a996d-a742-4dcd-aeda-ef1ee2e46d72" />
    <cfhttpparam type="header" name="X-HTTP-METHOD-OVERRIDE" value="DELETE" />
  </cfhttp>--->

      
  <!---<cffile action="readBinary" file="C:\Users\Charles Robertson\Desktop\images\header.jpg" variable="aBinaryObj">
  <cfset  body = aBinaryObj>
    <cfhttp url="http://localhost:8500/angular/material/ngMat01/src/assets/cfm/rest/api/v1/index.cfm/image/0" method="post" result="result" timeout="30">
    <cfhttpparam type="header" name="Authorization" value="Bearer eyJjdHkiOiJKV1QiLCJlbmMiOiJBMjU2R0NNIiwiYWxnIjoiZGlyIn0..zAbNxDkFlZPvwyJR.nGe0bqEGqA8xrs3wg2hYByEMbNUSeuhGq7Q-_o0GefMKyv6Gz_y_f6dpQz9WY826v80_dAcHLxzw3Mkw6S9n_bWEM0H2oIQPm-jxgUBUdwl8vZ3SY5g447BOwpXoNHGLYrpsMZV4rmWRUiTk3KHJyXbHxHsk3o8IDjePUqGqNklgkl9MNEIK8IJmTlEZ-iZtO9eWjTpSWyDFJwzlbW2h5UV9oiu-yQ3qVnpFIw3jYWtwMBywFUcQ1LQiqXcTxNKA7OMGpcuislKxVaRDX3quk8fBAtXrM9gl7S9ZRl5MtMsJF84yG4rXBcUR5kRAczp-5Nkeavx5brQsnKvv_exIHQAlydRceqBNNyMXp-BDXJtgPGFjhCFLQ9zcRD50MTb6bZtUQOU0JZG_l4DEdS0yJyfRgzhnlqFN1T_7k8iXd0JKNbBE2bcokNQ3denUu6NEfjBWQoBAC-flXLlRIEbzbDdLULokTRh0KNhMN4JLgXQSSIaog4eEl_oG4mmGo0UyltTlMRTMXqr17_4KFG32fl8.rKV3LPCG3DLOyz000s0JpQ" />
    <cfhttpparam type="header" name="user-token" value="163a996d-a742-4dcd-aeda-ef1ee2e46d72" />
    <cfhttpparam type="header" name="file-name" value="header.jpg" />
    <cfhttpparam type="header" name="image-path" value="/categories/objects/seascape" />
    <cfhttpparam type="header" name="name" value="Test name" />
    <cfhttpparam type="header" name="title" value="Test title" />
    <cfhttpparam type="header" name="description" value="Test description" />
    <cfhttpparam type="header" name="article" value="" />
    <cfhttpparam type="header" name="tags" value='[{"display":"test tag 1","value":"test tag 1"},{"display":"test tag 2","value":"test tag 2"},{"display":"sea","value":"sea"},{"display":"seagull","value":"seagull"}]' />
    <cfhttpparam type="header" name="publish-article-date" value="2019-01-31T16:18:51" />
    <cfhttpparam type="header" name="tinymce-article-deleted-images" value="" />
    <cfhttpparam type="header" name="file-extension" value="jpg" />
    <cfhttpparam type="header" name="content-length" value="408000" />
    <cfhttpparam type="header" name="cfid" value="" />
    <cfhttpparam type="header" name="cftoken" value="" />
    <cfhttpparam type="header" name="upload-type" value="gallery" />
    <cfhttpparam type="header" name="Content-Type" value="image/jpeg" />
    <cfhttpparam type="body" value="#body#" />
  </cfhttp>
  
  <cfdump var="#result#" />--->
  
  <!---<cfset value = "2728142c-d691-fdcb-94d64691a6178e36">
  #ISNUMERIC(value)#--->
  
  <!---<cfinclude template="functions.cfm">--->
  
  <!---<html>

	<head>
	
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=yes">
        
        <style>
		.char-number {
			color: red;
		}
        </style>
        
        </head>
		
        <body>
	
          <div id="json">
          
          <pre><code class="json">
  
			<cfscript>
            
              string = '[{"fileUuid":"c3078bee-3e01-4dd4-b2766b28bbe3b1c9","userid":28,"createdAt":"January, 27 2019 13:50:10 +0000","article":"At vero eos et accusamus .","src":"categories/objects/seascape/c3078bee-3e01-4dd4-b2766b28bbe3b1c9.jpeg","tags":"[{\"display\":\"barcelona\",\"value\":\"barcelona\"},{\"display\":\"evening\",\"value\":\"evening\"},{\"display\":\"sand\",\"value\":\"sand\"},{\"display\":\"sea\",\"value\":\"sea\"}]"},{"fileUuid":"034ae7f0-e9dd-4fdf-89cc6cfd2808167f","userid":36,"createdAt":"December, 10 2018 21:34:05 +0000","article":"","size":249874,"category":"mountains","publishArticleDate":"","likes":2,"author":" Juanjors","title":" Nelson Lakes - New Zealand","fileid":33,"description":"Calm","src":"categories/nature/mountains/034AE7F0-E9DD-4FDF-89CC6CFD2808167F.jpeg","tags":""}]';
              
              /*ignoreCommaPosArr = [];
              string = REReplaceNoCase(string,'<[^>]*>','','ALL');
          
              relPos = 1;
              absPos = 0;
              while(relPos != 0){
                relPos = FindNoCase(',',string);
                string = Mid(string,relPos + 1,Len(string)-relPos);
                absPos += relPos;
                ArrayAppend(ignoreCommaPosArr,absPos);
              }
              
              WriteDump(var=ignoreCommaPosArr);*/
              
              //string = '[{"display":"barcelona","value":"barcelona"},{"display":"beach","value":"beach"},{"display":"sea","value":"sea"},{"display":"seagull","value":"seagull"}]';
              
              WriteOutput(formatJSON(string,false));
            
            </cfscript>
            
            </code></pre>
    
    
		</div>
		
	</body>
		
</html>--->


<!---<cfset emailtemplateheaderbackground = getMaterialThemePrimaryColour(theme=request.theme)>

<strong>emailtemplateheaderbackground:</strong> #emailtemplateheaderbackground#<br /><br />

<cfset randomAdminUserID = getRandomAdminUserID(roleid="6,7")>

<strong>randomAdminUserID:</strong> #randomAdminUserID#<br /><br />

<strong>request.profanityList:</strong> #request.profanityList#<br /><br />

<cfset string = "Hi man, I am testing our new profanity filter">

<cfset hasProfanity = HasProfanity(string=string)>

<strong>hasProfanity:</strong> #hasProfanity#<br /><br />
  
</cfoutput>--->


<!---You could try something like this.
I have added the application scope just to test that each thread is working.

**Important:**

You need to understand that you cannot access the 'thread' scope from outside the thread itself, but you could pass it into a shared scope, like the 'application' or 'session' scope.

When you use the 'run' action, it is a 'set & forget' action, and cannot be accessed from within ColdFusion's main thread. 

**Implementation:**

Access the thread name by passing it in, using the 'attributes' scope, like this:

<cflock name="threadNames" type="exclusive" timeout="30">
  <cfset application.threadNames = {} />
</cflock>

<cfloop from="1" to="10" index="counter" > 
  <cfset variables.threadName = "thread-" & REReplace(CreateUUID(), "[-]", "", "all") />
  <cfthread action="run" name="#variables.threadName#" threadName="#variables.threadName#" counter="#counter#"> 
    <cfset thread.something = attributes.counter />
    <cflock name="threadNames" type="exclusive" timeout="30">
      <cfset application.threadNames[attributes.threadName] = thread.something />
    </cflock>
  </cfthread>
</cfloop>

<cflock name="threadNames" type="readonly" timeout="10">
  <cfset variables.lckThreadName = application.threadNames />
</cflock>

<cfthread action="join" name="#StructKeyList(variables.lckThreadName)#" timeout="6000" />

<cfloop collection="#variables.lckThreadName#" item="key">
  <cfset feedResult = cfthread[key]>
  <cfdump var="#feedResult#" />
</cfloop>

// Clear up after test unless you need to use values elsewhere

<cfset StructDelete(application,"threadNames")>--->








<!---You could try something like this.

**Important:**

When you use the 'run' action, it is a 'set & forget' action. Any thread scoped variables created cannot be accessed externally, unless the thread is joined.
An alternative approach is to create variables in a shared scope, like the 'application' or 'session' scope. Any changes made to a shared scope variable from within a thread can be accessed externally. 

**Implementation:**

Access the thread name by passing it in, using the 'attributes' scope. By storing the thread name within the thread, you can ensure that the thread has executed and will exist, at the time the threads are joined.

<cfset variables.threadNames = {} />

<cfloop from="1" to="10" index="counter" > 
  <cfset variables.threadName = REReplace(CreateUUID(), "[-]", "", "all") />
  <cfthread action="run" name="#variables.threadName#" threadName="#variables.threadName#" counter="#counter#"> 
    <cfset thread.something = attributes.counter />
	<cfset variables.threadNames[attributes.threadName] = thread.something />
  </cfthread>
</cfloop>

<cfthread action="join" name="#StructKeyList(variables.threadNames)#" timeout="6000" />

<cfloop collection="#variables.threadNames#" item="key">
  <cfset variables.thread = cfthread[key]>
  <cfdump var="#variables.thread#" />
</cfloop>--->