.mat-card {
    position: relative;
    display: inline-block;
    width: 27%;
    margin: 30px;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,1),0 2px 2px 0 rgba(0,0,0,.94),0 1px 5px 0 rgba(0,0,0,.92);
    -moz-box-shadow: 0 3px 1px -2px rgba(0,0,0,1),0 2px 2px 0 rgba(0,0,0,.94),0 1px 5px 0 rgba(0,0,0,.92);
    -webkit-box-shadow: 0 3px 1px -2px rgba(0,0,0,1),0 2px 2px 0 rgba(0,0,0,.94),0 1px 5px 0 rgba(0,0,0,.92);
    vertical-align: top;
}

.mat-card.single-image-display {
    display: block !important;
}

.mat-card-header > div {
    text-align: center !important;
    margin: 0 auto !important;
}

.mat-card-avatar {
    background-size: cover;
}

.mat-card .image-container {
    position: relative;
    height: 238px;
    overflow: hidden;
    margin-bottom: 20px;
}

.mat-card img.image {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0px 0px 20px 0px;
    cursor: pointer;
}

.mat-card .image-data {
    width: 100%;
    background: rgba(255,255,255,0.05);
    margin-bottom: 20px;
}

.mat-card .image-created-at, .mat-card .image-size {
    width: 49%;
    background: rgba(255,255,255,0.05);
    padding: 10px;
    text-align: center;
    text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
    word-wrap: break-word;
}

.mat-card .image-created-at {
    float: left;
}

.mat-card .image-size {
    float: right;
    background: none;
}

.mat-card .image-category {
    position: relative;
    width: 100%;
    padding: 10px;
    margin-bottom: 0px;
    text-align: center;
    text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
    word-wrap: break-word;
}

.mat-card .image-category .mat-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    color: rgba(255,255,255,1);
    font-size: 24px;
    cursor: pointer;
}

.mat-card .image-category .mat-icon:nth-last-of-type(2) {
    right: 0px;
    left: 10px;
}

.mat-card-content {
    height: 150px;
    padding-right: 10px;
    overflow: hidden;
}

.mat-card-content.article {
    height: 20px;
}

.mat-card-content.article a, .mat-card-content.article a:hover, .mat-card-content.article a:active, .mat-card-content.article a:visited {
    /* color: #c2185b !important; */
    text-decoration: none;
}

.mat-card > .mat-card-actions {
    position: relative;
    display: block;
    height: 52px;
    margin: 0px 0px 0px 0px;
    text-align: center;
    margin-top: 16px;
}

.mat-button .mat-icon {
    font-size: 18px;
    line-height: 22px;
}

.mat-card .social-media-container {
    position: absolute;
    width: 100%;
    height: 54px;
    /* bottom: 24px; */
    top: 0px;
    left: 0px;
    text-align: center;
    z-index: 1;
}

mat-icon.close {
    position: absolute;
    display: block;
    top: 16px;
    left: 20px;
    color: #fff;
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	-moz-opacity: 1;
	-khtml-opacity: 1;
	opacity: 1;
}

.mat-select {
    width: 60px;
    height: 36px;
    text-align: left;
    padding: 0px 10px;
    margin: 0px 4px;
    vertical-align: middle;
}

.mat-select:hover {
    /* background: #434343; */
    background: rgba(0,0,0,0.12);
}

.mat-select-placeholder {
    font-family: Roboto,"Helvetica Neue",sans-serif !important;
    font-size: 14px !important;
    font-weight: 500 !important;
}

.mat-button {
    width: 60px !important;
    min-width: initial !important;
    padding: 0px 10px !important;
}

.sb-button {
    margin: 10px 4px 4px 4px !important;
}

.mat-button span.favorite {
    display: inline-block;
    width: 25px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	word-wrap: break-word;
}

/* media queries */

/* tablets */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {

    .mat-card{
        width: 42%;
    }

}

/* smart phones */

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

    .mat-card{
        display: block;
        max-width: 100%;
        width: auto;
        margin: 30px;
    }

    .mat-select {
        width: 60px;
        height: 36px;
        text-align: left;
        padding: 0px 10px;
        margin: 0px 4px;
        vertical-align: middle;
    }

}

@media only screen and (min-device-width : 481px) and (max-device-width : 667px) {

    .mat-card{
        display: block;
        max-width: 100%;
        width: auto;
        margin: 30px;
    }

    .mat-select {
        width: 60px;
        height: 36px;
        text-align: left;
        padding: 0px 10px;
        margin: 0px 4px;
        vertical-align: middle;
    }

  }