app-gallery-detail {
    overflow: hidden;
}

.mat-app-background.basic-container.gallery-detail {
    float: left;
    max-width: 1253px;
    padding: 0px;
}

.mat-app-background.basic-container.gallery-detail div.gallery-detail-container {
    padding: 30px;
}

aside.gallery-detail-aside {
    height: 100%;
    overflow: hidden;
    padding: 16px;
}

.gallery-detail-title-container {
    text-align: center;
}

.gallery-detail-title {
    position: relative;
    display: inline-block;
    padding: 20px;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
}

.gallery-detail-title:after {
    position: absolute;
    top: 75%;
    height: 25px !important;
    width: 75px;
    left: 50%;
    transform: translateX(-50%);
    content: '';
    background-size: 26px 26px;
}

.gallery-detail-author-container {
    position: relative; 
    height: 58px;
    margin-top: 30px;
}

.gallery-detail-author {
    position: absolute;
    display: inline-block;
    left: 50%;
    transform: translateX(-50%);
}

.gallery-detail-avatar {
    width: 50px;
    margin-right: 10px;
}

.gallery-detail-avatar div.gallery-detail-avatar-scale-container {
    position: relative;
    float: left;
    width:100%;
    padding-bottom:100%;
    border-radius: 50%;
    background-size: cover;
    background-color: rgba(255,255,255,0.05);
}

.gallery-detail-avatar div.gallery-detail-avatar-scale-container .mat-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgba(255,255,255,0.1);
    transform: scale(2);
    transform-origin: 100% 100%;
}

.gallery-detail-author-data {
    vertical-align: super;
}

.gallery-detail-author-data .gallery-detail-author-name {
    font-weight: normal;
    margin-bottom: 10px;
    white-space: nowrap;
    overflow: hidden;
    word-wrap: break-word;
}

.gallery-detail-author-data .gallery-detail-author-date {
    font-weight: normal;
}

.gallery-detail-image {
    height: 50vh;
    background-size: cover;
    background-position: center center;
    background-color: rgba(255,255,255,0.05);
    margin-top: 30px;
}

.gallery-detail-description {
    margin-top: 30px;
    font-size: 16px;
    font-weight: bold;
}

.gallery-detail-divider {
    margin: 20px 0px;
    text-align: center !important;
}

.gallery-detail-divider span {
    display: inline-block;
    height: 30px;
    line-height: 0px;
    font-size: 64px;
    color: rgb(229,229,229);
}

.gallery-detail-article {
    font-size: 16px;
}

.gallery-detail-comments-container {
    position: relative;
}

/* media queries */

/* smart phones */

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

    app-gallery-detail {
        overflow: auto;
    }

    .mat-app-background.basic-container.gallery-detail {
        float: none;
        max-width: auto;
        padding: 0px;
    }

    .mat-app-background.basic-container.gallery-detail div.gallery-detail-container {
        padding: 0px;
    }

    aside.gallery-detail-aside {
        display: none;
    }

    .gallery-detail-title {
        font-size: 18px;
        margin: 30px 30px 0px;
    }

    .gallery-detail-author-data .gallery-detail-author-name {
        margin-bottom: 5px;
    }

    .gallery-detail-description {
        padding: 0px 30px;
    }

    .gallery-detail-article {
        padding: 0px 30px;
    }

    .gallery-detail-comments-container {
        position: relative;
        padding: 0px;
        margin-top: 30px;
    }

}
