.mat-app-background.basic-container {
    padding: 0px;
}

.form-field-container {
    margin-bottom: 20px;
}

.form-field-container .form-field-legend {
    position: relative;
    padding: 20px;
    font-weight: bold;
    font-size: 18px;
}

.form-field-container .form-field-text {
    padding: 20px;
}

.blockquote {
    border-left: 10px solid rgba(255, 255, 255, 0.5);
    padding-left: 15px;
    font-size: 16px;
}

ol {
    margin: 16px 0px;
    padding: 0px;
}

ol li {
    margin-left: 16px;
    padding: 5px 0px;
}

.mat-icon.cookie-policy-close {
    position: absolute;
    bottom: 20px;
    left: 20px;
    cursor: pointer;
}

/* media queries */

/* smart phones */

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

    #cookiePolicyText {
        overflow: auto;
    }
    
}