<mat-card-actions id="mat-card-actions-{{ image.id }}" color="accent">
  <div class="social-media-container" id="social-media-{{ image.id }}" [@shareFadeInOutAnimation]="{value: shareState}">
    <mat-icon class="mat-icon-rtl-mirror close" id="close-{{ image.id }}"  (click)="share($event,image.id)">
      clear
    </mat-icon>
    <share-button button="facebook" [icon]="fbIcon"></share-button>
    <share-button button="twitter" [icon]="tweetIcon"></share-button>
    <share-button button="tumblr" [icon]="tbrIcon"></share-button>
  </div>
  <button mat-button (click)="addLike()" placement="top" ngbTooltip="{{ image.likes }}" [disableTooltip]="disableFavouriteTooltip" *ngIf="currentUser.authenticated != 0">
    <mat-icon class="favorite" id="favourite-{{ image.id }}" [style.color]="likeColorDefault">favorite</mat-icon><span class="favorite">{{ image.likes }}</span>
  </button>
  <button mat-button  placement="top" ngbTooltip="{{ image.likes }}" [disableTooltip]="disableFavouriteTooltip" *ngIf="currentUser.authenticated == 0" style="cursor:default;">
    <mat-icon class="favorite" id="favourite-{{ image.id }}" [style.color]="likeColorDefault">favorite</mat-icon><span class="favorite">{{ image.likes }}</span>
  </button>
  <button mat-button (click)="share($event,image.id)">
    <mat-icon>share</mat-icon>
  </button>
  <mat-select class="gallery-sections" placeholder="#" floatLabel="never" (selectionChange)="onTagChange($event)" *ngIf="tagDisplay">
    <mat-select-trigger>#</mat-select-trigger>
    <mat-option *ngFor="let tag of tags; let i = index" [value]="tag.value">
      #{{ tag.display }}
    </mat-option>
  </mat-select>
  <button mat-button (click)="openComments($event)" placement="top" ngbTooltip="{{ commentsTotal }}" [disableTooltip]="disableCommentTooltip">
    <mat-icon class="comment">comment</mat-icon><span class="comment">{{ commentsTotal }}</span>
  </button>
</mat-card-actions>

